/*colors*/

$base: #fff;
$baseinv: #000;
$primary: goldenrod;

/*radios*/
$ro-regina: #8dc945;
$ro-fm: #e3002b;
$ro-patria: #ef922d;
$ro-devin: #e8ec2b;
$ro-slovensko: #3a9dd8;
$ro-international: #661e90;
$ro-klasika: #a7a9ac;
$ro-junior: #a7a9ac;
$ro-litera: #a7a9ac;