/*colors*/
/*radios*/
/*reset*/
html {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.material-icons {
  font-family: "Material Icons Outlined";
  display: inline-block;
}

a:hover, a:focus, button:hover, button:focus {
  outline: none;
}

/*grid*/
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.wrapper--main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

header {
  display: none;
  width: 100%;
}

footer {
  display: none;
  width: 100%;
}

aside {
  display: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  padding: 0.5rem 0;
  flex-basis: 5rem;
  z-index: 1000;
}

.sections__wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  z-index: 900;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  will-change: transform;
}
.section.show {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.section.show-last {
  transform: translate3d(-100%, 0, 0);
  opacity: 1;
}
.section__link {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  opacity: 0.85;
  transition: all 0.5s;
  filter: none;
  padding: 1rem 1rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.section__link.show {
  opacity: 1;
  color: goldenrod;
}
.section__link:nth-last-child(2) {
  margin-top: auto;
}
.section__inner {
  padding: 1.5rem;
  height: 100%;
}
.section__headline {
  width: 100%;
  margin-top: 0;
}

.section--home__inner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clocks--digital__wrapper {
  text-align: center;
}
.clocks--digital__time {
  font-size: 30vw;
  line-height: 100%;
}
.clocks--digital__more {
  font-size: 2rem;
}
.clocks--digital__meniny {
  font-weight: 200;
  padding-left: 0.5rem;
}

.weather--home__wrapper {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
.weather__desc {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  white-space: nowrap;
}
.weather__desc img {
  transform: translate(0, 0) scale(1.5);
  filter: sepia(75%);
}
.weather__temp {
  font-size: 4rem;
  flex-grow: 1;
  white-space: nowrap;
  flex-basis: 60%;
  text-align: center;
}
.weather__more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.weather__more .material-icons {
  color: goldenrod;
  position: relative;
  padding: 0.25rem;
}
.weather__wind {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.weather__hum {
  display: flex;
  align-items: center;
}
.weather__sun {
  flex-basis: 100%;
  display: flex;
}
.weather__sunrise {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
.weather__sunset {
  display: flex;
  align-items: center;
}
.weather__location {
  flex-basis: 100%;
}

.forecast--home__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.forecast--home__wrapper .forecast__hour {
  margin-bottom: 0;
  margin-top: 2rem;
  position: relative;
}
.forecast--home__wrapper img {
  margin-top: -0.15rem;
  filter: sepia(75%);
}
.forecast--home__wrapper .forecast__temp {
  position: absolute;
  height: 100%;
  width: 100%;
  border-top: 1px solid rgba(218, 165, 32, 0.5);
  transform: translateY(calc(100% + 1rem));
}

.section--forecast__inner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
}

.forecast__wrapper {
  flex-basis: 100%;
  height: 100%;
  overflow: auto;
}
.forecast__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.forecast__hour {
  flex-basis: 12%;
  text-align: center;
  margin-bottom: 2rem;
}

.section--radio__inner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.radio__wrapper {
  flex-basis: 100%;
}
.radio__radios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.radio__button {
  appearance: none;
  display: block;
  width: calc(25% - 1.25rem);
  height: 30vh;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  margin: 0 1.25rem 1.25rem 0;
  opacity: 0.9;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}
.radio__button .material-icons {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 3rem;
  transition: all 0.3s;
  opacity: 0;
}
.radio__button.play {
  opacity: 1;
}
.radio__button.play .material-icons {
  opacity: 1;
}